@{
    Layout = "_Layout2";
}
@model BookModel
<h2 class="text-center">Add Book</h2>
<hr>

<form asp-controller="admin" asp-action="addbook" method="POST">
    <div class="form-group row">
        <label class="col-sm2 col-form-laber">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="name">
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm2 col-form-laber">Book Url</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="bookUrl">
            <span asp-validation-for="bookUrl" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm2 col-form-laber">Author</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="author">
            <span asp-validation-for="author" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm2 col-form-laber">Image Url</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="imgUrl">
            <span asp-validation-for="imgUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm2 col-form-laber">Name Url</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="url">
            <span asp-validation-for="url" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm2 col-form-laber">Description</label>
        <div class="col-sm-10">
            <textarea type="text" class="form-control" asp-for="description"></textarea>
            <span asp-validation-for="description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>