<div class="card-body">
    <form asp-controller="library" asp-action="search" class="d-flex mx-auto">
        <div class="form-group">
            <input name="searchWord" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

        </div>
        <button type="submit" class="btn btn-outline-dark">Search</button>

    </form>
</div>
