@model Book
<form method="POST">
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="form-group">
        <label for="Name">Name</label>
        <input class="form-control" value="@Model.name" asp-for="name">
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Author">Author</label>
        <input class="form-control" value="@Model.author" asp-for="author">
        <span asp-validation-for="author" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ImageUrl">Image Url</label>
        <input class="form-control" value="@Model.imgUrl" asp-for="imgUrl">
        @* <span asp-validation-for="name" class="text-danger"></span> *@
    </div>
    <div class="form-group">
        <label for="CategoryId">CategoryId</label>
        <select asp-for="categoryId" asp-items=@ViewBag.Categories class="form-control">
            <option selected disabled>Choose a category for book</option>

        </select>
        <span asp-validation-for="categoryId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-danger">Add</button>
</form>